
<div class="container">
    <div>
        <ul>
            <li *ngFor=" let categoria of ListaCategorias">
                <button class='lined green'>{{categoria.titulo}}</button>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li *ngFor=" let categoria of ListaCategorias2">
                <button class='lined yellow'>{{categoria.titulo}}</button>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li *ngFor=" let categoria of ListaCategorias3">
                <button class='lined red' [routerLink]="['/actualizar',categoria.id]" routerLinkActive="router-link-active" >{{categoria.titulo}} <span (click)="eliminar(categoria.id)" class="material-icons-outlined">
                    clear
                </span></button>
            </li>
        </ul>
    </div>
    
</div>

<div class="container">
    <button type="submit"class="btn btn-secondary mt-5" [routerLink]="['/inicio']" routerLinkActive="router-link-active" > + Adicionar </button>
</div>


